<!-- List all posts unique to user -->
 <div class="tile is-parent is-justify-content-center p-2 m-3 ">
 <h2 class="has-text-weight-bold is-size-2">-- My Blog Posts --</h2>
 </div>
{{#each blogMap as |blog| }}
<div class="tile is-parent is-justify-content-center p-2 m-3 ">
  <div class="tile is-10 ">
      <article class="message" >
          <div class="message-header ">
            <p>{{blog.title}} </p>
            <button> Posted by: {{user_id}} on {{format_date blog.created}}</button>
          </div>
          <div class="message-body">
            {{blog.content}} 
          </div>
          <div class="is-justify-content-center">
              <button class="buttons has-text-weight-bold is-size-8" id="update-blog"><a href="/update">Update</a></button>
              <button class="buttons has-text-weight-bold is-size-8" id="delete-blog"><a href="/delete">Delete</a></button>
          </div>
     </article>
          </div>
     </article>
</div>
</div>
{{/each}}

{{#if logged_in}}
  <div class="tile is-parent is-justify-content-center p-6 m-3 ">
      <button class="buttons has-text-weight-bold is-size-4 " id="add-post" >
        <a href="/post">+ Add New Post</a>
      </button>
  </div>
{{/if}}  



