<!-- List all blogs -->
{{#each blogMap as |blog| }}
<div class="tile is-parent is-justify-content-center p-2 m-3 ">
  <div class="tile is-10 ">
      <article class="message" >
          <div class="message-header ">
            <p>{{blog.title}} </p>
            <button> Posted by: {{blog.user_id}} on {{format_date blog.created}}</button>
          </div>
          <div class="message-body">
            {{blog.content}} 
          </div>
     </article>
</div>
</div>
{{/each}}




<!-- <button class="delete"></button> -->
    