
  <!-- Community posts list -->
    <div class="tile is-6 is-child box">
        <article class="message is-warning">
          {{#each communityMap as |community| }}
          <div class="message-header">
          {{community.author}}
          </div>
          <div class="message-body">
          {{community.content}} 
          ({{format_date community.created}})
          </div>
          {{/each}}
        </article>
      </div>
  </div>
  <script src="/js/newcommunity.js"></script>