
  <!-- Community posts list -->
    {{#each blogMap as |blog| }}
    <div class="tile is-parent is-justify-content-center p-6 m-3">
      <article class="message" >
          <div class="message-header">
            <p>{{blog.title}} </p>
          </div>
          <div class="message-body">
            {{blog.content}} 
            <br /><br />
            Posted by: {{user_id}} on {{format_date blog.created}}
          </div>
     </article>
    {{/each}}
    </div>




  <script src="/js/newcommunity.js"></script>