<!-- List all blogs -->
{{#each blogMap as |blog| }}
<div class="tile is-parent is-justify-content-center p-2 m-3 ">
  <div class="tile is-10 ">
      <article class="message" >
          <div class="message-header ">
            <p>{{blog.title}} </p>
            <button> Posted by: {{blog.user_id}} on {{format_date blog.created}}</button>
          </div>
          <div class="message-body">
            {{blog.content}} 
          </div>
     </article>
</div>
</div>
{{/each}}

{{#if logged_in}}
  <div class="tile is-parent is-justify-content-center p-6 m-3 ">
      <button class="buttons" id="add-post" >
          <p class="has-text-weight-bold is-size-4 ">+ Add Post</p>
          </button>
  </div>
{{/if}}  


<!-- <button class="delete"></button> -->
    