<!-- Log in tile section -->
<div class="tile m-3 p-6 columns is-child">

    <div class="tile is-child box has-text-centered">
      <p class="title">Log in</p>
        <!-- Log in -->
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="username" placeholder="Username" id="username-login">
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" id="password-login">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <button class="button is-success login-form">Log In</button>
          </p>
        </div>

        <div class="field">
          <p class="control"><a href="/signup">Sign-Up Instead</a></p>
        </div>

    </div>

</div>

<script src="/js/login.js"></script>