<!-- Log in tile section -->
<div class="tile m-3 p-6 columns is-justify-content-center ">

    <div class="tile is-child box is-6 has-text-centered">
      <p class="title">Sign Up</p>
         <!-- Username -->
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Username" id ="username-signup">
          </div>
        </div>
    <!-- Password --> 
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password"  id = "password-signup">
          </p>
        </div>
     <!-- Submit button --> 
        <div class="field is-grouped is-justify-content-center">
          <div class="control">
            <button class="button is-info signup-form">Sign Up</button>
          </div>
        </div>

    </div>

</div>

<script src="/js/signup.js"></script>
